/*.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation,
.list {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -29px;

  & {
    color: var(--accent-color);
  }
}

.menu__contact-links {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-icon {
  fill: var(--text-color);
  margin-right: 10px;

  .menu__contact-links:hover &,
  .menu__contact-links:focus & {
    fill: var(--accent-color);
  }
}




*/
